@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #f7f7f7;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  background-color: #f7fafd;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-welcome-darkImage {
  background-color: #1717172a;
}
